<div class="span12">
<ul>
{{#each this}}
	{{#if description}}
		<li>
			<a href="{{html_url}}">{{description}}</a>
			({{#each files}}{{language filename}}{{/each}})
		</li>	
	{{/if}}
{{/each}}
</ul>
</div>
<hr>